.container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  width: 80%;
  font-size: 1.4em;
  font-weight: 800;
  display: flex;
  justify-content: start;
  align-items: center;
}

.datas {
  margin: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.editIcon {
  padding: 1rem;
  border-radius: 50%;
  background-color: #7d7aff;
  position: absolute;
  right: 2rem;
  bottom: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnBox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnBox > button {
  width: 70%;
  padding: 0.5rem;
  background-color: #7d7aff;
  color: white;
  border: none;
  border-radius: 8px;
}
