.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.nickname,
.socialAccount {
  width: 80%;
  border: 1px solid #cdd1d5;
  padding: 0.4rem 1rem;
  border-radius: 10px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.info > div {
  width: 100%;
  border: 1px solid #cdd1d5;
  padding: 0.4rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.numOfFoods {
  border-radius: 10px 10px 0 0;
}

.rating {
  border-radius: 0 0 10px 10px;
}

.profileImg {
  margin: 2rem;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 1px solid black;
}

.iconBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconBox > img {
  width: 1.4rem;
  height: auto;
}

.data {
  color: #cdd1d5;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  color: #cdd1d5;
  font-weight: 400;
}

.etc {
  margin-top: 18rem;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.etc > div {
  font-size: 0.8em;
  font-weight: 400;
  color: #cdd1d5;
}
